
.carrosel{
    display: flex;
    margin: 0 25px;
}

.item{
    background-color: #E5E5E5;
    margin: 10px;
    padding: 10px;
    width: 240px;
    text-align: center;
    height: 400px;
    border-radius: 4px;
}

.img-card img{
    width: 220px;
    height: 280px;
    object-fit: cover;
    align-items: center;
}

.info-card{
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
}

.info-card span{
    display: block;
    text-align: center;
    color: black;
    border-radius: 10px;
}

.nome{
    font-size: 20px;
    font-weight: 500;
}

.preco{
    font-size: 20px;
    font-weight: 400;
}

.btn-comprar{
    background-color: #93A9D1;
    border: 1px solid #93A9D1;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    color: #fff;
    font-size: 18px;
}
