.area-texto-joias{
    display: flex;
    position: fixed;
    padding-top: 140px;
    justify-content: center;
    width: 100%;
}

.texto-joias{
    font-size: 25px;
    font-weight: 200;
}

.carrosel{
    padding-top: 20px;
}